<script src="{{ url_for('design-system.static', filename='assets/js/inputs.js') }}"></script>
<script src="{{ url_for('artifacts.static', filename='js/components/ArtifactConfirmModal.js') }}" type="text/javascript"></script>
<script src="{{ url_for('artifacts.static', filename='js/components/ArtifactBucketAside.js') }}" type="text/javascript"></script>
<script src="{{ url_for('artifacts.static', filename='js/components/ArtifactFilesTable.js') }}" type="text/javascript"></script>
<script src="{{ url_for('artifacts.static', filename='js/components/ArtifactBucketModal.js') }}" type="text/javascript"></script>
<script src="{{ url_for('artifacts.static', filename='js/components/ArtifactBucketUpdateModal.js') }}" type="text/javascript"></script>
<script src="{{ url_for('artifacts.static', filename='js/components/Artifact.js') }}" type="text/javascript"></script>